* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dbdbdb;
    font-family: 'Shantell Sans', cursive;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: radial-gradient(circle, #888888 1px, transparent 1px);
    background-size: 20px 20px;
}

.map area:hover {
    cursor: pointer;
}





.fctitle {
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

.fctitle img {
    width: 20vw;
    transition: transform 0.2s;
}






.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 75px;
}

.grid-item-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background: linear-gradient(to right, #a0a0a0, #a0a0a088);
    opacity: 0.6;
}

.grid-item-nav img {
    width: 100px;
    transition: transform 0.2s;
}

.grid-item-nav img:hover {
    transform: translateY(-5px);
}


/* opening image */
.grid-item-shop {
    width: 90vw;
    margin-bottom: 50px;
    /* background-color: #ffffff3b; */
    position: relative;
    /* Highlighted change */
}

.grid-item-shop img {
    width: 100%;
    height: auto;
}

/* Highlighted change: Added styles for text overlay */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 56px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out; /* Add transition for top */;
    text-align: center;
    /* Center align text horizontally */
    width: 100%;
    /* Ensure the text is centered within the container */
}

.grid-item-shop p {
    text-align: left;
    /* Center align text horizontally */
    width: 100%;
    /* Ensure the text is centered within the container */
}



/* shoppable items */
.grid-item-goods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.grid-item-goods img {
    width: 20vw;
    height: auto;
    margin-bottom: 5px;
}

.grid-item-goods p {
    font-size: 16px;
    text-align: center;
}

.open-square {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 10px;
}

.sliding-square {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 90vw;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    overflow: auto;
    display: grid;
    /* left and right column width */
    grid-template-columns: 1fr 0.8fr;
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.sliding-square.active {
    right: 0;
}

/* only setting the width might make the scrollbar invisible */
.sliding-square::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}

.sliding-square::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background color of the scrollbar track */
}

/* Customize the scrollbar thumb */
.sliding-square::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Round the corners of the scrollbar thumb */
}

/* Customize the scrollbar thumb on hover */
.sliding-square::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}




/* left content in sliding squares */
.info-left {
    margin: 40px 0;
    width: 100%;
}

.mainImage {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.thumbnail-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    vertical-align: baseline;
}

.thumbnail {
    width: calc(20% - 10px);
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}



.info-right {
    margin: 90px;
    width: 60%;
}

.info-right img {
    width: 100%;
    margin-bottom: 10px;
}

.bold-text {
    font-weight: bold;
}

#fakebutton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a19dca;
}





@media (max-width: 900px) {
    .grid-item-nav {
        top: 0;
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        background: linear-gradient(to right, #a0a0a0, #a0a0a088);
        opacity: 0.6;
        position: fixed;
    }

    .grid-item-nav img {
        width: 50px;
        transition: transform 0.2s;
    }

    .fctitle {
        position: fixed;
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
    }

    .fctitle img {
        width: 40vw;
        transition: transform 0.2s;
    }

    .grid-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        width:95%;
    }

/* main contents */
    .text-overlay {
        width: 90%;
        font-size: 24px;
    }


    .grid-item-news h2 {
        font-size: 18px;
    }
    .grid-item-news p {
        font-size: 12px;
    }



    .grid-item-goods img{
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }

    .grid-item-goods p {
        font-size: 10px;
    }







    /* hidden contents */
    .sliding-square {
        position: fixed;
        top: 0;
        right: 100vw;
        width: 90vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        padding:20px;
    }

    .info-left{
        margin-bottom: 0;
    }
    .info-right {
        margin: 0px;
        margin-bottom:40px;
        width: 100%;
    }
}

/* green #b8d4d7 purple light #d1cfe8 purple dark #a19dca red #e6babe yellow #fceed1 */