* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dbdbdb;
    font-family: 'Shantell Sans', cursive;
}

body::before {
    /* Add dotted background */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: radial-gradient(circle, #888888 1px, transparent 1px);
    background-size: 20px 20px;
    /* Adjust the size of the dots */
}

.map area:hover {
    cursor: pointer;
}






.grid-item-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background: linear-gradient(to right, #a0a0a0, #a0a0a088);
    /* Gradient from #a0a0a0 (left) to #808080 (right) */
    opacity: 0.6;
}

.grid-item-nav img {
    width: 100px;
    transition: transform 0.2s;
    /* Apply transition for a smooth effect */
}

.grid-item-nav img:hover {
    transform: translateY(-5px);
    /* Apply initial transformation on hover */
}





.grid-item-bg {
    display: flex;
    justify-content: center;
    /* Centers the image horizontally */
    align-items: center;
    /* Centers the image vertically if needed */
}

.grid-item-bg img {
    margin-left: 100px;
    width: 2007px;
    zoom: 0.8;
}





.instructions {
    position: fixed;
    bottom: 20px;
    left: 150px;
}

.instructions h2 {
    cursor: pointer;
    /* Change cursor to pointer to indicate it's clickable */
}

.instructions p {
    transition: all 0.5s ease;
    /* Smooth transition for hiding/showing */
}

.instructionshidden {
    display: none;
    /* Hide element */
}

@media screen and (max-width: 900px) {
    .moved {
        transform: translateY(1vh);
        /* Move element 1vh down after hiding detailed instructions*/
    }
}


.cloud img {
    position: absolute;
    top: 12vh;
    left: 1500px;
    transform: translate(100%, -50%);
    width: 300px;


    animation: limitedchair 2s infinite alternate;
}

@keyframes limitedchair {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*cloud animation*/






.fctitle {
    position: fixed;
    /* This makes the element fixed-positioned */
    top: 100%;
    /* Position from the top of the viewport */
    left: 100%;
    /* Position from the left of the viewport */
    transform: translate(-100%, -100%);
}

.fctitle img {
    width: 20vw;
    /* Set the width of the image */
    transition: transform 0.2s;
    /* Apply transition for a smooth effect */
}





/* new change */
#loginicon {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #fceed1;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #a19dca;
    z-index: 1000;
    cursor: pointer;
}

#loginicon img {
    width: 100%;
    /* Adjust size as needed */
    height: auto;
    display: block;
}

#popup {
    position: fixed;
    top: 90px;
    right: 10px;
    width: 150px;
    height: 50px;
    background-color: #fceed1;
    /* Background color of the rectangle */
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 5px;
    /* Corner radius */
    padding: 10px;
    /* Padding inside the rectangle */
    box-shadow: 0 4px 8px #a19dca;
    /* Shadow for a subtle effect */
    display: run-in;
    /* Hide initially */
    z-index: 1000;
    /* Ensure it's above other content */
}

.popup-hidden {
    display: none;
    /* Class to hide the popup */
}

@media (max-width: 900px) {
    .grid-item-nav {
        top: 0;
        height: 50px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        background: linear-gradient(to right, #a0a0a0, #a0a0a088);
        opacity: 0.6;
        position: fixed;
    }

    .grid-item-nav img {
        width: 50px;
        transition: transform 0.2s;
    }






    /* zoom out of the background image when opening on phones, ipads, it seems the 'body' container cannot zoom */
    .grid-item-bg {
        display: flex;
        justify-content: flex-start;
        /* Centers the image horizontally */
        align-items: flex-start;
        /* Centers the image vertically if needed */
        margin-left: 0px;
        height: 100%;
        width: 100vw;
        overflow-x: auto;
        overflow-y: auto;
    }

    .grid-item-bg::-webkit-scrollbar {
        height: 0px;
    }

    .grid-item-bg img {
        margin-left: -160px;
        margin-top: 50px;
        width: 2007px;
        height: auto;
        zoom: 0.4;
    }


    .instructions {
        position: fixed;
        top: 50px;
        left: 4%;
        width: 90vw;
        height: 30vh;
        overflow-y: auto;
        /* the height is specified to have this div 
        not block the whole screen and interferring 
        with user scrolling the background */
    }

    .instructions h2 {
        font-size: 18px;
        font-family: 'Shantell Sans', cursive;
    }

    .instructions p {
        font-size: 16px;
    }

    .moved {
        transform: translateY(0.2vh);
        /* Move element 1vh down after hiding detailed instructions*/
    }




    .fctitle {
        position: fixed;
        /* This makes the element fixed-positioned */
        top: 100%;
        /* Position from the top of the viewport */
        left: 100%;
        /* Position from the left of the viewport */
        transform: translate(-100%, -100%);
    }

    .fctitle img {
        width: 40vw;
        /* Set the width of the image */
        transition: transform 0.2s;
        /* Apply transition for a smooth effect */
    }






    #loginicon {
        transform: translate(-0%, -100%);
        top: 98vh;
        left: 4%;
        width: 30px;
        height: 30px;
    }

    #popup {
        transform: translate(-0%, -100%);
        top: 98vh;
        left: 20%;
        width: 150px;
        height: 30px;
    }

    #popup p {
        font-size: 10px;
    }





    .cloud img {
        position: relative;
        top: 100px;
        right: 10%;
        width: 250px;
    }
}

/* green #b8d4d7 purple light #d1cfe8 purple dark #a19dca red #e6babe yellow #fceed1 */