* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a0a0a0;
    font-family: 'Shantell Sans', cursive;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
}

body::before {
    /* Add dotted background */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: radial-gradient(circle, #000 1px, transparent 1px);
    background-size: 20px 20px;
    /* Adjust the size of the dots */
}



.grid-container {
    display: grid;
    grid-template-columns: 100px repeat(8, 1fr);
    /* grid-template-rows: repeat(8, 1fr); */
    width: 100vw;
    height: 100vh;
}

.grid-item-nav {
    grid-column: span 1;
    /* grid-row: span 8; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #a0a0a0, #a0a0a088);
    /* Gradient from #a0a0a0 (left) to #808080 (right) */
    opacity: 0.6;
}

.grid-item-nav img {
    width: 100px;

}

.grid-item-left {
    padding-top: 500px;
    grid-column: span 4;
    /* grid-row: span 8; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.grid-item-left::-webkit-scrollbar {
    width: 0;
    /* Set the width of the scrollbar to 0 */
}

.grid-item-left #scrollicon{
    margin-top: 200px;
}



.grid-item-right {
    grid-column: span 4;
    /* grid-row: span 8; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.grid-item-right img {
    width: 350px;
    animation: movechair 4s infinite;
}










.grid-prop {
    display: grid;
    grid-template-columns: 3fr 3fr;
    width: 70%;
}

.grid-prop-left {
    margin-bottom: 80px;
    margin-right: 80px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.grid-item-left h1{
    margin-top:800px;
}

.grid-prop-right {
    margin-bottom: 80px;
    margin-left: 0px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}







.fctitle {
    position: fixed;
    bottom: 2%;
    right: 0%;
    transform: translate(10%, 0%);
}

h1 {
    font-size: 100px;
}




@media (max-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-rows: 100px 1fr 4fr;
        grid-template-columns: 1fr;
        width:100vw;
    }

    .grid-item-nav {
        grid-row: span 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(to right, #a0a0a0, #a0a0a088);
        /* Gradient from #a0a0a0 (left) to #808080 (right) */
        opacity: 0.6;
    }

    .grid-item-right{
        margin-top: 50px;
        grid-row:2/3;
        height:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .grid-item-right img{
        width: 50%; 
        max-width: 350px;
    }

    .grid-item-left{
        grid-row:3/4;
    }

    .grid-item-left h1{
        margin-top:0px;
    }

    .grid-item-left #scrollicon{
        margin-top: 20px;
    }

    .grid-prop {
        display: grid;
        grid-template-columns: 3fr 3fr;
        min-width: 700px;
        margin-bottom: 100px;
    }


    h1 {
        font-size: 80px;
    }
    .fctitle {
        position: fixed;
        bottom: 2%;
        right: 0%;
        transform: translate(10%, 0%);
    }
}